.block-img {
    @include full-background();
    background-color: $bg-light;
    width: 100%;
    height: 400px;
    border-radius: $border-radius-md;
    @media screen and (min-width: 1400px) {
        height: 520px;
    }
    @media screen and (max-width: 500px) {
        height: 360px;
    }
}
.block-campus-card {
    .flag-circle {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
    }
}
.block-img-campus {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100%;
    .block-img-campus--inner {
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        @include full-background();
        background-color: $bg-light;
    }
    //
}