.btn {
    height: 52px;
    line-height: 48px;
    border-radius: 52px;
    padding: 0 18px;
    font-family: 'gorditamedium', sans-serif;
    border-width: 2px;
    font-size: 18px;
    box-shadow: $box-shadow-btn;
    text-transform: uppercase;
    transition: $transition;
    &.btn-sm {
        font-size: 14px;
        padding: 0 16px;
        height: 42px;
        line-height: 38px;
    }
    &.btn-xs {
        font-size: 12px;
        padding: 0 14px;
        height: 32px;
        line-height: 28px;
    }
    &.btn-outline-primary {
        background-color: $white;
        &:hover {
            background-color: $primary-light;
            color: $primary;
        }
    }
    &.btn-icon {
        padding: 0;
        width: 52px;
        .fa-solid, .fa-brands {
            transform: translateY(0);
        }
        &.btn-sm {
            width: 42px;
        }
    }
    &.btn-white {
        background-color: $white;
        color: $black;
        &:hover {
            background-color: $primary-light;
        }
    }
    &.btn-naked-white {
        background-color: transparent;
        color: $white;
        border: 0px!important;
        box-shadow: none!important;
        opacity: 1;
        &:hover {
            background-color: transparent;
            color: $white;
            opacity: 0.6;
        }
    }
    &.btn-whatsapp {
        background-color: #02AC1E;
        border-color: #02AC1E;
        color: $white;
        &:hover {
            background-color: #02AC1E;
            border-color: #02AC1E;
            color: $white;
        }
    }
    &.btn-disabled {
        opacity: .4;
        pointer-events: none;
    }
    &:hover {
        transform: rotate(-2deg) scale(1.04);
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    }
    &.btn-on-dark,
    &.btn-on-dark-naked {
        color: $white;
        background-color: rgba(0,0,0,0.2);
        border: 0px!important;
        box-shadow: none!important;
        line-height: 52px;
        &.btn-sm {
            line-height: 42px;
        }
        &:hover {
            background-color: rgba(0,0,0,0.4);
        }
    }
    &.btn-on-dark-naked {
        background-color: rgba(0,0,0,0);
        &:hover {
            background-color: rgba(0,0,0,0.2);
        }
    }
    &.btn-no-animate {
        &:hover {
            transform: none!important;
            box-shadow: $box-shadow-btn;
        }
    }
    &.btn-normal {
        text-transform: capitalize;
        font-family: 'gorditaregular', sans-serif;
    }
    &.btn-toggle {
        box-shadow: none;
        width: 28px;
        height: 28px;
        padding: 0px;
        line-height: 28px;
        border-radius: $border-radius;
        transition: $transition;
        &:hover {
            transform: scale(1.06)!important;
            box-shadow: none!important;
        }
    }
    @media screen and (max-width: 500px) {
        font-size: 14px;
        padding: 0 16px;
        height: 46px;
        line-height: 42px;
    }
}
// Slider Button
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &.slider-btn-next {
        right: $gap-to-side-xxs;
    }
    &.slider-btn-prev {
        left: $gap-to-side-xxs;
    }
    @media screen and (max-width: 991px) {
        &.slider-btn-next {
            right: -18px;
        }
        &.slider-btn-prev {
            left: -18px;
        }
    }
    @media screen and (max-width: 767px) {
        &.slider-btn-next {
            right: $gap-to-side-xxs;
        }
        &.slider-btn-prev {
            left: $gap-to-side-xxs;
        }
    }
}
.btn-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-ellipsis-767 {
    @media screen and (max-width: 767px) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.btn-slide-banner {
    &:hover {
        transform: translateY(-50%);
        box-shadow: $box-shadow-btn!important;
    }
}
.slider-btn-slick-full {
    top: -66px;
    transform: none;
    border: 1px solid $border-color;
    &.slider-btn-next {
        right: 36px;
    }
    &.slider-btn-prev {
        left: inherit;
        right: 86px;
    }
    @media screen and (min-width: 1400px) {
        &.slider-btn-next {
            right: 120px;
        }
        &.slider-btn-prev {
            right: 170px;
        }
    }
    @media screen and (max-width: 500px) {
        &.slider-btn-next {
            right: 18px;
        }
        &.slider-btn-prev {
            right: 64px;
        }
    }
}

//
.hide-collapse-icon {
    display: block;
}
.show-collapse-icon {
    display: none;
}
.btn {
    &.collapsed {
        .hide-collapse-icon {
            display: none;
        }
        .show-collapse-icon {
            display: block;
        }
    }
}