.card {
    border: 0px;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-btn-sm;
    &.card-rounded-xl {
        border-radius: $border-radius-xl;
    }
}

.card-hover-wow {
    transition: $transition;
    &:hover {
        transform: rotate(-1deg) scale(1.04);
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    }
}
.card-pict {
    display: block;
    width: 100%;
    padding-top: 50%;
    @include full-background();
    background-color: $bg-light;
}
.card-list-img {
    position: relative;
    .img-item {
        display: block;
        width: 90px;
        height: 90px;
        @include full-background();
    }
}
a {
    &.card {
        color: $black;
        &:hover {
            color: $black;
            text-decoration: none;
        }
    }
    &.card-link-white {
        color: $black;
        text-decoration: none;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}