.dropdown-menu {
    border-radius: $border-radius-card;
    border: 0px;
    box-shadow: 0px 2px 6px 0px rgba(5,41,109,0.14);
    display: block;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: $transition;
    top: -4px!important;
    transform: translate3d(0px, 32px, 0px)!important;
    padding: 8px;
    &.show {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        top: 0px!important;
        transform: translate3d(0px, 32px, 0px)!important;
    }
    &.dropdown-menu-lang {
        transform: translate3d(-102px, 16px, 0px)!important;
        top: -4px!important;
        &.show {
            transform: translate3d(-102px, 16px, 0px)!important;
            top: 0px!important;
        }
        @media screen and (max-width: 991px) {
            transform: translate3d(-124px, 16px, 0px)!important;
            &.show {
                transform: translate3d(-124px, 16px, 0px)!important;
            }
        }
    }
    &.dropdown-menu-custom-1 {
        transform: translate3d(0px, 32px, 0px)!important;
        top: -4px!important;
        left: inherit!important;
        right: 0px!important;
        &.show {
            transform: translate3d(0px, 32px, 0px)!important;
            top: 0px!important;
            left: inherit!important;
            right: 0px!important;
        }
    }
}
.dropdown-item {
    padding: 0px;
    font-size: $text-sm;
    font-family: 'gorditamedium', sans-serif;
    padding: 6px 14px;
    border-radius: 22px;
    margin-bottom: 4px;
    transition: $transition;
    &:last-child {
        margin-bottom: 0px;
    }
    &:hover {
        background: $lightest;
    }
}
.dropdown-action {
    background-color: $primary;
    color: $white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    &:hover {
        background: $primary-hover;
        color: $white;
    }
}
.dropdown-card {
    padding: 8px;
}
.dropdown {
    .dropdown-menu {
        transform: translate3d(-0px, 32px, 0px)!important;
        top: -8px!important;
    }
    &:hover {
        .dropdown-menu {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
            top: -8px!important;
            margin-top: 8px;
            transform: translate3d(0px, 32px, 0px)!important;
        }
        .menu-list--item {
            .menu-list--caret {
                transform: translateY(-1px) rotate(180deg)!important;
            }
        }
    }
}
.dropdown-lang {
    .dropdown-menu {
        transform: translate3d(-102px, 16px, 0px)!important;
        top: -8px!important;
    }
    &:hover {
        .dropdown-menu {
            transform: translate3d(-102px, 16px, 0px)!important;
            top: -8px!important;
            margin-top: 8px;
        }
    }
    @media screen and (max-width: 991px) {
        .dropdown-menu {
            transform: translate3d(0px, 16px, 0px)!important;
            right: 0px!important;
            left: inherit!important;
        }
        &:hover {
            .dropdown-menu {
                transform: translate3d(0px, 16px, 0px)!important;
                right: 0px!important;
                left: inherit!important;
            }
        } 
    }
}
.dropdown-menu-custom-1-991 {
    @media screen and (max-width: 991px) {
        transform: translate3d(0px, 32px, 0px)!important;
        top: -4px!important;
        left: inherit!important;
        right: 0px!important;
        &.show {
            transform: translate3d(0px, 32px, 0px)!important;
            top: 0px!important;
            left: inherit!important;
            right: 0px!important;
        }
    }
}
.dropdown-divider {
    margin: 8px -8px;
}