.form-control {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding: 0 18px;
    border-radius: 21px;
    box-shadow: $box-shadow-btn;
    font-family: 'gorditamedium', sans-serif;
    color: $black;
    &::placeholder {
        color: $black;
    }
    &.type-2 {
        &::placeholder {
            color: rgba(0,0,0,0.3);
        } 
    }
}
textarea.form-control {
    line-height: normal;
    padding: 14px 18px;
    min-height: 100px;
}