$primary: #003FB5;
$primary-hover: #0038A2;
$primary-2: #19154E;
$primary-dark: #0B0831;
$primary-light: #E8ECFC;

$secondary: #F0004A;
$black: #0B0831;

$dark: #0B0831;
$light-blue: #E8ECFC;
$lightest: #F7F7F7;

$bg-light: #EDEEEF;

$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;

$gap-to-side-xlg: 80px;
$gap-to-side-lg: 72px;
$gap-to-side-md: 50px;
$gap-to-side: 42px;
$gap-to-side-sm: 36px;
$gap-to-side-xs: 20px;
$gap-to-side-xxs: 18px;

$border-radius-base: 8px;
$border-radius-sm: 14px;
$border-radius-md: 20px;
$border-radius-lg: 28px;
$border-radius-xl: 36px;
$border-radius-card: 10px;

$transition: all .14s ease-in-out;

$box-shadow-btn: 0px 3px 1px 0px rgba(0,0,0,0.2);
$box-shadow-btn-sm: 0px 2px 1px 0px rgba(0,0,0,0.14);

@font-face {
    font-family: 'gorditabold';
    src: url('../fonts/Gordita/gordita-bold-webfont.woff2') format('woff2'),
         url('../fonts/Gordita/gordita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gorditamedium';
    src: url('../fonts/Gordita/gordita-medium-webfont.woff2') format('woff2'),
         url('../fonts/Gordita/gordita-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gorditaregular';
    src: url('../fonts/Gordita/gordita-regular-webfont.woff2') format('woff2'),
         url('../fonts/Gordita/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}