// Edlink ConneX Themming
@import "../css/theming";
// Mixin
@mixin full-background(){
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// Components
@import "../css/button";
@import "../css/dropdown";
@import "../css/card";
@import "../css/block-img";
@import "../css/form-control";
//
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'gorditabold', sans-serif;
}
h1, .h1 {
    @media screen and (max-width: 500px) {
        font-size: 2rem;
    }
}
h2, .h2 {
    line-height: 1.3;
    @media screen and (max-width: 500px) {
        font-size: 1.8rem;
    }
}
h3, .h3 {
    line-height: 1.5;
}
h1, .h1, h4, .h4,  h5, .h5, h6, .h6 {
    line-height: 1.4;
}
body {
    color: $black;
    font-family: 'gorditaregular', sans-serif;
    font-size: $text-base;
    line-height: 1.3;
    p, ul li {
        line-height: 1.8;
    }
}
//
.text-white {
    a {
        color: $white;
    }
}
.text-sm {
    font-size: $text-sm!important;
    line-height: 1.4;
}
.text-xs {
    font-size: $text-xs!important;
}
//
.w-100-767 {
    @media screen and (max-width: 767px) {
        width: 100%!important;
    }
}
//
.text-left-767 {
    @media screen and (max-width: 767px) {
        text-align: left!important;
    }
}
//
.row-sm {
    margin-left: -8px;
    margin-right: -8px;
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-left: 8px;
        padding-right: 8px;
    }
}
.row-xs {
    margin-left: -4px;
    margin-right: -4px;
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-left: 4px;
        padding-right: 4px;
    }
}
//
.text-sm-767 {
    @media screen and (max-width: 767px) {
        font-size: $text-sm;
    }
}
//
.flex-1 {
    flex: 1 0 auto!important;
}
//
.bg-gradient-1 {
    background: rgb(0,63,181);
    background: linear-gradient(135deg, rgba(0,63,181,1) 26%, rgba(245,20,74,1) 100%);
}
.bg-gradient-2 {
    background: rgb(47,41,114);
    background: linear-gradient(0deg, rgba(47,41,114,1) 0%, rgba(11,8,49,1) 84%);
}
// Flex
.d-flex-767 {
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}
// Text Align
.text-center-767 {
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
// Container
.container-fluid {
    padding-left: $gap-to-side-sm;
    padding-right: $gap-to-side-sm;
    @media screen and (min-width: 1400px) {
        padding-left: 120px;
        padding-right: 120px;
    }
    @media screen and (max-width: 767) {
        padding-left: $gap-to-side-xs;
        padding-right: $gap-to-side-xs;
    }
    @media screen and (max-width: 500px) {
        padding-left: $gap-to-side-xxs;
        padding-right: $gap-to-side-xxs;
    }
}
.fa-solid {
    transform: translateY(-1px);
    &.normal {
        transform: none;
    }
}
.hide-991 {
    @media screen and (max-width: 991px) {
        display: none!important;
    }
}
.show-991 {
    display: none!important;;
    @media screen and (max-width: 991px) {
        display: block!important;
    }
}
.hide-767 {
    @media screen and (max-width: 767px) {
        display: none!important;
    }
}
.show-767 {
    display: none!important;;
    @media screen and (max-width: 767px) {
        display: block!important;
    }
}
// Font Weight
.font-bold {
    font-family: 'gorditabold', sans-serif!important;
}
.font-medium {
    font-family: 'gorditamedium', sans-serif!important;
}
.font-regular {
    font-family: 'gorditaregular', sans-serif!important;
}
// Title
.title-lg {
    font-size: 3rem;
    @media screen and (max-width: 500px) {
        font-size: 2.2rem;
    }
}
.title-xl {
    font-size: 3.8rem;
    @media screen and (max-width: 500px) {
        font-size: 2.4rem;
    }
}
// Block Navigation 
.block-navigation {
    display: block;
    width: 100%;
    position: relative;
    background-color: $white;
    padding-left: $gap-to-side-sm;
    padding-right: $gap-to-side-sm;
    z-index: 90;
    .show-991 {
        &.dropdown {
            @media screen and (max-width: 991px) {
                display: inline-block!important;
            }
        }
    }
    @media screen and (max-width: 767) {
        padding-left: $gap-to-side-xs;
        padding-right: $gap-to-side-xs;
    }
    @media screen and (max-width: 500px) {
        padding-left: $gap-to-side-xxs;
        padding-right: $gap-to-side-xxs;
    }
}
.block-navigation--sub,
.block-navigation--main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-navigation--main {
    padding-top: $gap-to-side-xs;
    padding-bottom: $gap-to-side-xs;
    .block-navigation--main-col-2 {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    @media screen and (max-width: 767px) {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 74px;
    }
}
.main-logo {
    width: 220px;
    @media screen and (max-width: 767px) {
        width: 180px;
        transform: translateY(-2px);
    }
}
.menu-list {
    display: block;
    font-size: 0;
    .dropdown {
        display: inline-block;
    }
    .menu-list--item {
        display: inline-block;
        color: $black;
        margin-left: 20px;
        background-color: transparent;
        padding: 0;
        height: auto;
        border: 0px;
        box-shadow: none;
        line-height: 1.3;
        text-transform: uppercase;
        transition: $transition;
        &:hover, &:focus {
            text-decoration: none;
            opacity: .5;
        }
        &:focus-visible {
            outline: none;
            box-shadow: none;
            color: $primary;
            opacity: 1;
        }
        @media screen and (max-width: 991px) {
            margin-left: 16px;
        }
    }
}
.block-navigation--main {
    .menu-list {
        .menu-list--item {
            font-family: 'gorditabold', sans-serif;
            font-size: $text-sm;
            line-height: 32px;
            padding: 0 14px;
            border-radius: 19px;
            height: 32px;
            background-color: $white;
            margin-left: 0px;
            &.menu-list--item-icon {
                padding: 0px;
                width: 32px;
                text-align: center;
            }
            &:hover, &:focus {
                background-color: $bg-light;
                opacity: 1;
            }
            &:focus-visible {
                outline: none;
                box-shadow: none;
                background-color: $bg-light;
                color: $black;
                opacity: 1;
            }
            &.active {
                background-color: $primary;
                color: $white;
            }
        }
    }
}
.block-navigation--sub {
    background-color: $bg-light;
    padding: $gap-to-side-xxs $gap-to-side-xs $gap-to-side-xxs $gap-to-side-xs;
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
    .welcome-text {
        font-size: $text-xs;
        font-family: 'gorditamedium', sans-serif;
    }
    .menu-list {
        .menu-list--item {
            font-family: 'gorditamedium', sans-serif;
            font-size: $text-xs;
        }
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.navigation-social-media {
    @media screen and (max-width: 980px) {
        display: none!important;
    }
}
.block-navigation--mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $lightest;
    z-index: 99;
    padding: $gap-to-side-xs;
    overflow-y: auto;
    transform: translateX(100%);
    transition: $transition;
    box-shadow: $box-shadow;
    .menu-list {
        .menu-list--item {
            font-size: 18px;
            margin-left: 0px;
            font-family: 'gorditabold', sans-serif;
            background-color: $white;
            box-shadow: $box-shadow-btn-sm;
            border: 1px solid $border-color;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            line-height: 48px;
            padding: 0 18px;
            border-radius: 24px;
            margin-bottom: 12px;
            &:hover, &:focus {
                opacity: 1;
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }
    }
    .card {
        font-size: $text-base;
        border: 1px solid $border-color;
        border-radius: $border-radius-md;
        margin-bottom: 12px;
    }
    &.active {
        transform: translateX(0%);
    }
}
// Section
.section {
    display: block;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    @media screen and (max-width: 500px) {
        padding-top: $gap-to-side-sm;
        padding-bottom: $gap-to-side-sm;
    }
}
.bg-primary-dark {
    background-color: $primary-2;
}
.bg-light-blue {
    background-color: $light-blue;
    .bg-muted {
        background-color: #D2D8F3;
    }
    .text-muted {
        color: #7D8CCE!important;
    }
}
.bg-light,
.section-light {
    background-color: $bg-light!important;
}
.bg-dark,
.section-dark {
    background-color: $primary-dark;
}
.section-gradation-lightest {
    background: rgb(227,233,255);
    background: linear-gradient(180deg, rgba(227,233,255,1) 0%, rgba(255,255,255,1) 100%);
}
// Slide Banner
.slide-banner {
    position: relative;
    height: 476px;
    @include full-background();
    // background-position: right;
    border-radius: $border-radius-lg;
    background-color: $lightest;
    padding-left: $gap-to-side-xlg;
    .slide-banner--inner {
        display: flex;
        align-items: center;
        height: 100%;
    }
    @media screen and (min-width: 1400px) {
        height: 536px;
    }
    @media screen and (max-width: 991px) {
        height: 386px;
        padding-left: $gap-to-side;
    }
    @media screen and (max-width: 767px) {
        padding: 0 $gap-to-side-xs;
        padding-bottom: $gap-to-side-xs;
        height: 600px;
        background-position: bottom;
        .slide-banner--inner {
            align-items: flex-end;
        }
    }
    @media screen and (max-width: 500px) {
        height: 372px;
    }
}
// Slick Flickering
.slick-slide { 
    transform: translate3d(0,0,0);
}
// Window
.slickCountry {
    .slick-track {
        padding-bottom: 22px;
    }
}
.window-1 {
    display: block;
    width: 200px;
    height: 240px;
    border-radius: $border-radius-lg;
    overflow: hidden;
    @include full-background();
    background-color: $light-blue;
    position: relative;
    margin: 8px;
    box-shadow: 0px 12px 0px 0px #E0E0E0;
    transition: $transition;
    .window-1--inner {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
        padding: $gap-to-side-xxs;
        position: relative;
        z-index: 1;;
    }
    .testi-block {
        display: block;
        width: 100%;
        height: 28px;
        line-height: 28px;
        background-color: rgba(255,255,255,0.3);
        color: $white;
        border-radius: 8px;
        text-align: center;
        padding: 0 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        &.testi-block-dark {
            background-color: rgba(0,0,0,0.5);
        }
    }
    .flag-circle {
        position: absolute;
        top: 10px;
        left: 10px;
        transform: scale(.7);
    }
    .video-play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: $white;
    }
    .label {
        position: absolute;
        top: 14px;
        left: 14px;
        color: $white;
        background-color: rgba(255,255,255,0.3);
        &.label-hot {
            left: inherit;
            right: 14px;
        }
    }
    &.window-1--tall {
        height: 420px;
        .window-1--inner {
            justify-content: center;
        }
    }
    &.window-1--fixed {
        height: inherit;
        padding-top: 100%;
    }
    &.window-1--col {
        margin: 0px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgb(35,36,78);
        background: linear-gradient(180deg, rgba(35,36,78,0) 0%, rgba(35,36,78,1) 100%);
        opacity: 0.8;
        transition: $transition;
    }
    &.no-curtain {
        &:before {
            display: none;
        }
    }
    &:hover {
        text-decoration: none;
        transform: rotate(-1deg) scale(1.02);
        box-shadow: 0px 8px 8px 0px #E0E0E0;
        &:before {
            opacity: 1;
        }
    }
    @media screen and (min-width: 1400px) {
        height: 300px;
    }
    @media screen and (max-width: 991px) {
        &.window-1--tall {
            height: 380px;
        }
    }
    @media screen and (max-width: 767px) {
        &.window-1--tall {
            height: 300px;
        }
    }
    @media screen and (max-width: 500px) {
        margin: 6px;
        height: 160px;
        .h4, h4 {
            font-size: 18px!important;
        }
        &.window-1--tall {
            height: 220px;
        }
    }
}
.layered-top-bg-light,
.layered-top-bg-dark {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -50%;
        height: 50%;
        background-color: $bg-light;
        display: block;
    }
}
.layered-top-bg-dark {
    &:before {
        background-color: $primary-dark!important;
    }
}
//
.rounded-base {
    border-radius: $border-radius-base;
}
.rounded-sm {
    border-radius: $border-radius-sm;
}
.rounded-md {
    border-radius: $border-radius-md;
}
.rounded-lg {
    border-radius: $border-radius-lg;
}
.rounded-xl {
    border-radius: $border-radius-xl;
}
//
.bottom-rounded-lg {
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
}
.bottom-rounded-xl {
    border-bottom-left-radius: $border-radius-xl;
    border-bottom-right-radius: $border-radius-xl;
}
//
.bottom-3d-light {
    box-shadow: 0px 12px 0px 0px #E0E0E0;
}
//
.bottom-3d-pink {
    box-shadow: 0px 24px 0px 0px $secondary;
}
//
.slide-top {
    margin-top: -80px;
    padding-top: 80px;
}
//
.flag-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    background-color: $white;
    box-shadow: $box-shadow-btn;
    overflow: hidden;
    display: inline-block;
    .flag-circle--inner {
        @include full-background();
        position: absolute;
        top: 4px;
        left: 4px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
    &.flag-circle-lg {
        width: 58px;
        height: 58px;
        border-radius: 30px;
        .flag-circle--inner {
            width: 50px;
            height: 50px;
        }
    }
}
//
.link-white-footer {
    a {
        // opacity: 1;
        transition: $transition;
        &:hover {
            text-decoration: none;
            // opacity: .8;
            color: $secondary;
        }
    }
}
//
.footer-stopper {
    display: block;
    height: 28px;
    border-top-left-radius: $border-radius-md;
    border-top-right-radius: $border-radius-md;
    background-color: $secondary;
    width: 100%;
    @media screen and (max-width: 767px) {
        height: 22px;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
    }
    @media screen and (max-width: 500px) {
        height: 18px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
}
//
.label {
    display: inline-block;
    background-color: $white;
    font-size: 12px;
    padding: 4px 8px;
    font-family: 'gorditamedium', sans-serif;
    border-radius: 12px;
    &.label-hot {
        background-color: $secondary;
        color: $white;
    }
}
//
.block-campus-card-boxed,
.block-campus-card-boxed-sm,
.block-campus-card-boxed-xs,
.block-campus-card-boxed-xxs {
    padding-top: 0px;
    width: 200px;
    height: 200px;
}
.block-campus-card-boxed-sm {
    width: 160px;
    height: 160px;
}
.block-campus-card-boxed-xs {
    width: 140px;
    height: 140px;
}
.block-campus-card-boxed-xxs {
    width: 80px;
    height: 80px;
}
//
.badge-flag {
    display: inline-block;
    position: relative;
    background-color: $primary;
    color: $white;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    padding: 0px 18px 0px 48px;
    font-family: 'gorditamedium', sans-serif;
    text-transform: uppercase;
    transition: $transition;
    .flag-circle {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(.9);
        transition: $transition;
    }
    &:hover {
        background-color: $primary-hover;
        color: $white;
        text-decoration: none;
        .flag-circle {
            transform: scale(.8);
        }
    }
}
//
.page-title {
    @media screen and (max-width: 767px) {
        font-size: 2rem;
    }
}
//
.block-paragraph {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'gorditamedium', sans-serif;
    }
}
//
.p-highlight {
    display: block;
    padding-left: 24px;
    border-left: 4px solid $primary;
    font-family: 'gorditamedium', sans-serif;
}
//
.va-top {
    tr {
        td {
            vertical-align: top;
        }
    }
}
.va-middle {
    tr {
        td {
            vertical-align: middle;
        }
    }
}
.table-wrap {
    tr {
        td {
            white-space: wrap;
        }
    }
}